
* {
    box-sizing: border-box;

}

html, body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;

}

footer {
    height: 120px;
    background-color: #2c3e50;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-container {
    background-color: #2c3e50;
    height: 100px;
    width: 100%;
    padding: 20px;
    position: fixed;
}

.nav-main {
   width: 100%;
   max-width: 960px;
   border: 1px solid red;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;

}

.nav-main  a {
  color: white;
  text-transform: upercase; 
  text-decoration: none;
  

}

.menu-itens {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-itens li {
    margin: 10px;
    font-size: 14px;
}

.nav-brand {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.profile-container {
    background-color: #1ABC9C ;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 160px 0 60px 0;
}


.profile-avatar img {
    width: 150px;


}

.profile-title {
    font-size: 2rem;
    margin: 35px 0 0 0;
    

}


.profile-descripition {
  margin: 0;

  font-size: 1rem;
    

}

#portifolio {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.portifolio-title {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: #2c3e50;
    margin: 60px 0 10px 0;
}

.portifolio-container {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

.portifolio-item {
    width: calc(100% - 40px);
    max-width: 420px;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;

}

.footer-title {
    color: #fff;
    font-size: 14px;
    margin-top: 30px;
}

.social-container img {
    width: 32px;
    height: 32px;
    margin: 10px;
}